/* V1 */

.casa-div-inicial{
    height: 120px;
}

.casaV1{
    position: relative;
}

.casaV1-fondo{
    width:100%;
}

.casaV1-texto{
    position: absolute;
    z-index: 2;
    left: 0px;
    top:0px;
    width:100%;
}

/* v2 */

.casaV2{
    position: relative;
}

.casaV2-fondo{
    width:100%;
}

.casaV2-texto{
    position: absolute;
    z-index: 2;
    left: 0px;
    top:0px;
    width:100%;
}

/* v3 */

.casaV3{
    position: relative;
}

.casaV3-fondo{
    width:100%;
}

.casaV3-texto{
    position: absolute;
    z-index: 2;
    left: 0px;
    top:0px;
    width:100%;
}

/* v4 */

.casaV4{
    position: relative;
}

.casaV4-fondo{
    width:100%;
}

.casaV4-texto{
    position: absolute;
    z-index: 2;
    left: 0px;
    top:0px;
    width:100%;
}

/* v5 */

.casaV5{
    position: relative;
}

.casaV5-fondo{
    width:100%;
}

.casaV5-texto{
    position: absolute;
    z-index: 2;
    left: 0px;
    top:0px;
    width:100%;
}

/* v6 */

.casaV6{
    position: relative;
}

.casaV6-fondo{
    width:100%;
}

.casaV6-texto{
    position: absolute;
    z-index: 2;
    left: 0px;
    top:0px;
    width:100%;
}

/* v7 */

.casaV7{
    position: relative;
}

.casaV7-fondo{
    width:100%;
}

.casaV7-texto{
    position: absolute;
    z-index: 2;
    left: 0px;
    top:0px;
    width:100%;
}

/* v8 */

.casaV8{
    position: relative;
}

.casaV8-fondo{
    width:100%;
}

.casaV8-texto{
    position: absolute;
    z-index: 2;
    left: 0px;
    top:0px;
    width:100%;
}

/* v9 */

.casaV9{
    position: relative;
}

.casaV9-fondo{
    width:100%;
}

.casaV9-texto{
    position: absolute;
    z-index: 2;
    left: 0px;
    top:0px;
    width:100%;
}

/* v10 */

.casaV10{
    position: relative;
}

.casaV10-fondo{
    width:100%;
}

.casaV10-texto{
    position: absolute;
    z-index: 2;
    left: 0px;
    top:0px;
    width:100%;
}

/* v11 */

.casaV11{
    position: relative;
}

.casaV11-fondo{
    width:100%;
}

.casaV11-texto{
    position: absolute;
    z-index: 2;
    left: 0px;
    top:-22%;
    width:100%;
}

/* v12 */

.casaV12{
    position: relative;
}

.casaV12-fondo{
    width:100%;
}

.casaV12-texto{
    position: absolute;
    z-index: 2;
    left: 0px;
    top:-30%;
    width:100%;
}

/* v13 */

.casaV13{
    position: relative;
}

.casaV13-texto{
    width:100%;
}

/* v14 */

.casaV14{
    position: relative;
}

.casaV14-fondo{
    width:100%;
}

.casaV14-texto{
    position: absolute;
    z-index: 2;
    left: 0px;
    top:0px;
    width:100%;
}




