/* V1 */

.defender-div-inicial{
    height: 120px;
}

.defenderV1{
    position: relative;
}

.defenderV1-fondo{
    width:100%;
}

.defenderV1-texto{
    position: absolute;
    z-index: 2;
    left: 0px;
    top:0px;
    width:100%;
}

/* v2 */

.defenderV2{
    position: relative;
}

.defenderV2-fondo{
    width:100%;
}

.defenderV2-texto{
    position: absolute;
    z-index: 2;
    left: 0px;
    top:0px;
    width:100%;
}

/* v3 */

.defenderV3{
    position: relative;
}

.defenderV3-fondo{
    width:100%;
}

.defenderV3-texto{
    position: absolute;
    z-index: 2;
    left: 0px;
    top:0px;
    width:100%;
}

/* v4 */

.defenderV4{
    position: relative;
}

.defenderV4-fondo{
    width:100%;
}

.defenderV4-texto{
    position: absolute;
    z-index: 2;
    left: 0px;
    top:0px;
    width:100%;
}

/* v5 */

.defenderV5{
    position: relative;
}

.defenderV5-fondo{
    width:100%;
}

.defenderV5-texto{
    position: absolute;
    z-index: 2;
    left: 0px;
    top:0px;
    width:100%;
}

/* v6 */

.defenderV6{
    position: relative;
}

.defenderV6-fondo{
    width:100%;
}

.defenderV6-texto{
    position: absolute;
    z-index: 2;
    left: 0px;
    top:0px;
    width:100%;
}

/* v7 */

.defenderV7{
    position: relative;
}

.defenderV7-fondo{
    width:100%;
}

.defenderV7-texto{
    position: absolute;
    z-index: 2;
    left: 0px;
    top:0px;
    width:100%;
}

/* v8 */

.defenderV8{
    position: relative;
}

.defenderV8-fondo{
    width:100%;
}

.defenderV8-texto{
    position: absolute;
    z-index: 2;
    left: 0px;
    top:0px;
    width:100%;
}

/* v9 */

.defenderV9{
    position: relative;
}

.defenderV9-fondo{
    width:100%;
}

.defenderV9-texto{
    position: absolute;
    z-index: 2;
    left: 0px;
    top:0px;
    width:100%;
}

/* v10 */

.defenderV10{
    position: relative;
}

.defenderV10-texto{
    width:100%;
}

/* v11 */

.defenderV11{
    position: relative;
}

.defenderV11-fondo{
    width:100%;
}

/* v12 */

.defenderV12{
    position: relative;
}

.defenderV12-fondo{
    width:100%;
}

.defenderV12-texto{
    position: absolute;
    z-index: 2;
    left: 0px;
    width:100%;
}

/* v13 */

.defenderV13{
    position: relative;
}

.defenderV13-fondo{
    width:100%;
}

.defenderV13-img{
    position: absolute;
    z-index: 2;
    left: 0px;
    width:100%;
}

.defenderV13-texto{
    position: absolute;
    z-index: 3;
    left: 0px;
    width:100%;
}


/* v14 */





