.actividades{
    padding: 5% 8%;
    width:100%;
    max-width: 1500px;
    background: linear-gradient( #77b26a, #439453);
    background-color: #77b26a;
}

.actividades-menu{
    padding-top: 40px;
    background-color: #77b26a;
    max-width: 1500px;
    margin: auto;
}

.actividades img{
    margin-top: 30px;
    width:60%;
}

.actividades img:hover{
    scale: 1.1;
}

.actividades h1{
    font-size: 1.3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    margin: 30px 0px 4px 0px;
}

.actividades p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    color:rgb(255, 255, 255);
    text-align: justify;
    line-height: 28px;
}

@media only screen and (max-width: 420px) {

    .actividades p{
        line-height: 20px;
        font-size: 12px;
    }
}

.actividades a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    font-size: inherit;
    color:#005f85;
}

